@import "../../assets/scss/variables";

header {
  position: relative;
  height: 400px;
  background-image: url("/assets/images/header-bg.jpg");
  background-size: cover;
  background-position: center;

  &::after {
    content: " ";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
  }
}

.header-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: $secondary;

  p {
    font-size: 1.2em;
  }
}


// MEDIA QUERIES
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2em;
  }
}
