@import "../../assets/scss/variables";

header {
  position: relative;
  height: 400px;
  background-image: url("/assets/images/header-bg.jpg");
  background-size: cover;
  background-position: center;

  &::after {
    content: " ";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
  }
}

#header-text {
  position: absolute;
  z-index: 2;
  top: 35%;
  text-align: center;
  width: 100%;
  color: $secondary;

  &.fixed {
    h1 {
      pointer-events: none;
      position: fixed;
      top: 74px;
      transform: translateY(-170%);
      left: 0;
      right: 0;
      font-size: 2em;
    }
    p {
      display: none;
    }
  }
}

h1 {
  transition: all 200ms ease-in-out;
}

p {
  font-size: 1.2em;
}