$site-gutter: 2rem;

$theme-color: #1B1B1B;
$theme-color2: #806F66;
$theme-color3: #FFF2BC;
$theme-highlight-color: #CC0000;
$bg-color: #F7F7F7;

$heading-font: 'Catamaran', sans-serif;
$body-font: 'Roboto', sans-serif;
