@import "../../assets/scss/variables";

:host {
  position: relative;
  display: block;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  padding: $site-gutter;
  grid-gap: 3rem;
  align-items: end;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  } 

}

#search-bar {
  position: absolute;
  z-index: 2;
  padding: 1em;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba($color: $secondary, $alpha: 0.6);
  transition: background-color 500ms;

  &.fixed {
      position: fixed;
      top: 74px;
      background-color: rgba($color: $secondary, $alpha: 0.95);
  }

  input {
    display: block;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.25em;
    padding: 0.5em 1em;
    border-radius: 20px;
  }
}
