<h2>About</h2>
<p class="description">Rugbyleague.Cards is a demo Angular application created by <a href="https://github.com/leigit">@leigit</a> and <a href="https://github.com/patrickroberts93">@patrickroberts93</a> using the Angular CLI. Checkout the GitHub repo <a href="https://github.com/leigit/footy-cards">here</a> and get in touch via the below LinkedIn pages to let us know what you think.

<div class="planned-features">
  <h3>Planned features include:</h3>
  <ul>
    <li>Google Firebase integration (including ability to register and upload cards)</li>
    <li>Various card and info views</li>
    <li>Card collections</li>
  </ul>
</div>

<div class="contact-details">
<h3>Leigh Gittoes</h3>
<span><a href="https://github.com/leigit">GitHub</a> | <a href="https://www.linkedin.com/in/leighgittoes/">LinkedIn</a></span>
</div>

<div class="contact-details">
  <h3>Patrick Roberts</h3>
  <span><a href="https://github.com/patrickroberts93">GitHub</a> | <a href="https://www.linkedin.com/in/patrickroberts93/">LinkedIn</a></span>
</div>

