
@import "../../assets/scss/variables";

li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
  cursor: pointer;


  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid #FFF;
    margin-top: 5px;
    opacity: 0;
  	transition: opacity 0.35s, transform 0.35s;
  	transform: scale(0,1);
  }

  &:hover:after {
    opacity: 1;
  	-webkit-transform: scale(1);
  	transform: scale(1);
  }

  &:hover a {
    text-shadow: 0 0 2px #FFF;
  }

}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 2px;
  transition: all 200ms;

}
