<img src="../../assets/images/logo-white.svg" alt="Rugby League Cards Logo" class="logo">
<nav>
  <div class="menu-burger" [ngClass]="{'open': !isCollapsed}" (click)="isCollapsed = !isCollapsed">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul [ngClass]="{'open': !isCollapsed}">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Cards</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
