
@import "../../assets/scss/variables";

:host {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba( $primary, .95 );
  display: flex;
  align-items: center;
  padding: 0 $site-gutter;
}

.logo {
  max-height: 50px;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    opacity: 0.9;
  }
}

//NAV ITEMS
li {
  display: inline-block;
  padding: 1.8em 1.25em;

  a {
    position: relative;
    padding-bottom: .25em;
    color: $secondary;
    
    &.active:before {
      width: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      border: 0;
      height: 1px;
      width: 0;
      transition: width 0.2s ease-out;
      background-color: #FFF;
    }

    &:hover:before {
      width: 100%;
    }
  }

}