@import "../../assets/scss/variables";

:host {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba($color: $secondary, $alpha: 0.6);
    transition: background-color 500ms;

    &.fixed {
        position: fixed;
        top: 74px;
        background-color: rgba($color: $secondary, $alpha: 0.95);
    }
}