// NORMALIZE AND RESET
@import "/assets/css/normalize";
@import "/assets/scss/reset";

// VARIABLES
@import "/assets/scss/variables";

// GOOGLE FONTS API
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:900');



// BASE STYLES
body {
  font-size: 16px;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}
